{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}" type="text/css" />
{% endblock %}

{% block body %}
<div class="wrapper">
    <section class="login-container">
        <div>		
            <header>
                <h2>Acceuil</h2>
            </header>
            <a href="{{path( 'visiteur')}}" >
		<div class="link">				
                    Visiteur				
		</div>
            </a>
            <a href="{{path( 'comptable')}}">
            <div class="link">
            Comptable
            </div>
            </a>
        </div>
    </section>

</div>
{% endblock %}
