{% extends 'base.html.twig' %}

{% block title %}
    Accueil
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}" type="text/css" />
{% endblock %}

{% block body %}
    <div ><h1 class="acceuil"><center>Laboratoire Galaxy Swiss Bourdin</center></h1></div>

    <div class="btn-visiteur">
        <a class="couleur-b-contour" href="{{path( 'visiteur')}}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="link">Visiteur</div>
        </a>
    </div>
    <div class="btn-comptable">
        <a class="couleur-b-contour" href="{{path( 'comptable')}}">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <div class="link">Comptable</div> 
        </a>
    </div>
{% endblock %}
