{% extends 'base.html.twig' %}

{% block title %}
    Connexion Visiteur
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}" type="text/css" />
{% endblock %}

{% block body %}
    <div class="wrapper">
        <section class="login-container">
            <div>			
                <header>
                    {% if erreur is defined %}
                        {% if erreur == 1 %}
                        <p>Attention ! Login ou mot de passe incorrect.</p>
                        {% endif %}
                    {% endif %}
                    
                    <h2>Identification Visiteur</h2>
                </header>

                {{form(formulaire)}}
            </div>
        </section>
    </div>
{% endblock %}
