{% extends 'base.html.twig' %}

{% block title %}Hello ConsulterController!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}" type="text/css" />
{% endblock %}
{% block body %}
{%include 'visiteur/enteteVisiteur.html.twig'%}
<div class="corp">
    <h1>Saisir Mois / Année</h1>
	<form>
		<select type="Select" id="login">
			{% for i in 0..11 %} 
			<option {% if dateC == i + 1 %} selected {%endif%}>{{ moisA[i] }}</option>
			{% endfor %}
		</select>
		
		<select type="Select" id="login">
                    <option>20{{ dateA }}</option>			
		</select>	
	</form>
	
</div>



{% endblock %}