{% extends 'base.html.twig' %}

{% block body %}


<ul>
  <li><img src="/images/gsb1.png" class="img3"/></li>
  <li><a href="{{path( 'donnerDate')}}">Consulter Frais</a></li>
  <li><a href="{{path( 'renseigner')}}">Renseigner Frais</a></li>
  <li><a href="#">Menu</a></li>
  <li style="float:right"><a href="{{path( 'accueil')}}">Déconnexion</a></li> 
  <li style="float:right"><a >{{login}}</a></li>
</ul>


{% endblock %}