{% extends 'base.html.twig' %}

{% block title %}Renseigner Fiche{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}" type="text/css" />
{% endblock %}
{% block body %}
{%include 'visiteur/enteteVisiteur.html.twig'%}
<div class="corp">
    renseigne fiche
</div>



{% endblock %}