{% extends 'base.html.twig' %}

{% block title %}Menu Visiteur{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}" type="text/css" />
{% endblock %}

{% block body %}

{%include 'comptable/enteteComptable.html.twig'%}
<div class="corp">
	
</div>

{% endblock %}